<!DOCTYPE html>
<html>
    <header>
        <title>Find Booking Website</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    </header>
    
    <body>
        <form action='/search' method='GET'>
            <label for='starting'>Enter Starting Location</label>
            <input type='text' name='starting' id='starting' />
            <br />
            
            <label for='ending'>Enter Ending Location</label>
            <input type='text' name='ending' id='ending' />
            <br />
            
            <button type='submit'>Submit</button>
        </form>
    </body>
</html>