<!DOCTYPE html>
<html>
    <header>
        <title>Result</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    </header>
    
    <body>
        <a href='<%=url%>'><%=url%></a>
    </body>
</html>